body {
    /*padding-top: 10%;*/
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.displayInline {
    display: inline-block;
}

.marginRight {
    margin-right: 5%;
}

.bold {
    font-weight: bold;
}

.alignLabel {
    /*border: 1px solid;*/
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 15%;
}

.divDenunciados {
    width: 50%;
    margin-right: 5%;
    border: 1px solid;
}

.divDown {
    margin-right: 5%;
}

.divCountDenunciados {
    padding: 1%;
    border: 1px solid;
}

.labelWithBorder {
    border: 1px solid;
}

.detailsDenunciados {
    cursor: pointer;
}
