@model FiscalCidadaoWeb.Models.HomeViewModel

@{
    ViewBag.Title = "Página Inicial";
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Olá, Usuário! Bem-vindo!</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@if (Model != null)
{
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bullhorn fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.CountDenunciasNaoAnalisadas</div>
                            <div>Denúncias não analisadas</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-map-marker fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.CountAtualizacoesEndereco</div>
                            <div>Atualizações de endereço</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn"></i> Convênios mais denunciados
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @foreach (var top3 in Model.MaisDenunciados)
                        {
                            <a href="@Url.Action( "Index", "Home", new { id = top3.Id } )" class="list-group-item">
                                <i class="fa fa-building"></i> @top3.Objeto
                                <span class="pull-right text-muted small">
                                    <em>TODO:DATA DO CONVÊNIO</em>
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}